<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Нужен доступ для выбора видео GoPro</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Нужно для сохранения растянутого видео</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
        <string>processing</string>
    </array>
</dict>
</plist>
